{% load static %}
<nav class="page-sidebar" id="sidebars">
    <div id="sidebar-collapse">
        <div class="admin-block d-flex">
            <div>
                {% if request.user.is_staff %}
                <img src="{{request.user.staff.photo.url}}" width="45px" />
                {% else %}   
                <img src="{{request.user.student.photo.url}}" width="45px" />
                {% endif %}
            </div>
            <div class="admin-info">
                <div class="font-strong">{{request.user.first_name}} {{request.user.last_name}} </div>
                {% if request.user.student %}
                <small>{{request.user.student.course}}  {{request.user.student.academic_year}}</small>
                {% else %}
                <small>{{request.user.staff.department}}</small>
                {% endif %}
            </div>     
        </div>
        <ul class="side-menu metismenu">
            <li>
                <a class="{% if side == 'dashboard' %} active {% endif %}" href="{% url "home" %}">
                    <i class="sidebar-item-icon fa fa-th-large"></i>
                    <span class="nav-label">Dashboard</span>
                </a>
                <i class="fa-duotone fa-screen-users"></i>
            </li>
            {% if request.user.is_staff %}
            <li class="{% if side == 'being' or side == 'staff' or side == 'role' %} active {% endif %}">
                <a href="javascript:;" class="{% if side == 'being' or side == 'staff' %} active {% endif %}">
                    <i class="sidebar-item-icon fa fa-user-circle-o"></i>
                    <span class="nav-label">Manage User</span>
                    <i class="fa fa-angle-left arrow"></i>
                </a>
                <ul class="nav-2-level collapse"> 
                    <li>
                        <a class="{% if side == 'being' %} active {% endif %}" href="{% url "student" %}">
                            <i class="sidebar-item-icon fa fa-mortar-board"></i>
                            <span class="nav-label">Student</span>
                        </a>
                    </li>
                    <li class="{% if side == 'staff' %} active {% endif %}">
                        <a class="{% if side == 'staff' %} active {% endif %}" href="{% url "staff" %}">
                            <i class="sidebar-item-icon fa fa-users"></i>
                            <span class="nav-label">Staff</span>
                        </a>
                    </li>
                    <li class="{% if side == 'role' %} active {% endif %}">
                        <a class="{% if side == 'role' %} active {% endif %}" href="{% url "manageroles" %}">
                            <i class="sidebar-item-icon fa fa-drivers-license-o"></i>
                            <span class="nav-label">Roles</span>
                        </a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if perms.archives.view_document %}
            <li class="{% if side == 'upload_project' or side == 'projects' or side == 'manage_project' or side == 'assessment' %} active {% endif %}">
                <a href="javascript:;" class="{% if side == 'upload_project' or side == 'project' or side == 'manage_project' or side == 'assessment' %} active {% endif %}">
                    <i class="sidebar-item-icon fa fa-book"></i>
                    <span class="nav-label">Manage Projects</span>
                    <i class="fa fa-angle-left arrow"></i>
                </a>
                <ul class="nav-2-level collapse"> 
                
                    <li class="ac">
                        <a class="" href="{% url "project_type" %}">
                            <i class="sidebar-item-icon fa fa-list"></i>
                            <span class="nav-label">Project Types</span>
                        </a>
                    </li>
                    <li class="{% if side == 'manage_project' %} active {% endif %}">
                        <a class="{% if side == 'manage_project' %} active {% endif %}" href="{% url "manage_project" request.user.id %}">
                            <i class="sidebar-item-icon fa fa-database"></i>
                            <span class="nav-label">Project List</span>
                        </a>
                    </li>
                    <li class="{% if side == 'projects' %} active {% endif %}">
                        <a class="{% if side == 'projects' %} active {% endif %}" href="{% url 'projects' %}">
                            <i class="sidebar-item-icon fa fa-file-text-o"></i>
                            <span class="nav-label">Completed Projects</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{% url 'department' %}" class="{% if side == 'department' %} active {% endif %}">
                    <i class="sidebar-item-icon fa fa-university"></i>
                    <span class="nav-label">Department</span>
                </a>
            </li>
            <li>
                <a href="{% url 'student_request' %}" class="{% if side == 'department' %} active {% endif %}">
                    <i class="sidebar-item-icon fa fa-university"></i>
                    <span class="nav-label">Student Requests</span>
                </a>
            </li>
            {% endif %}
            {% if request.user.student %}
            <li class="ac">
                <a class="" href="{% url "manage_project" request.user.id %}">
                    <i class="sidebar-item-icon fa fa-list"></i>
                    <span class="nav-label">My Project</span>
                </a>
            </li>
            <li>
                <a href="{% url 'project_type' %}" class="{% if side == 'project_type' %} active {% endif %}">
                    <i class="sidebar-item-icon fa fa-sitemap"></i>
                    <span class="nav-label">Project type</span>
                </a>
            </li>
            <li class="{% if side == 'projects' %} active {% endif %}">
                <a class="{% if side == 'projects' %} active {% endif %}" href="{% url 'projects' %}">
                    <i class="sidebar-item-icon fa fa-file-text-o"></i>
                    <span class="nav-label">Completed Projects</span>
                </a>
            </li>
            <li>
                <a href="{% url 'student_request' %}" class="{% if side == 'department' %} active {% endif %}">
                    <i class="sidebar-item-icon fa fa-university"></i>
                    <span class="nav-label">My Requests</span>
                </a>
            </li>
            {% endif %}
          
        </ul>
    </div>
</nav>
<style>
    .page-sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        overflow-y: auto;
        z-index: 9999;
    }
</style>
<div class="content-wrapper">
